.saitbar {
    background-color: rgb(156, 9, 9);
    width: 370px;
    
    padding-top: 40px;
    padding-bottom: 40px;
    height: 2391px;
    
    

}
.head-class {
    background: rgb(156, 9, 9);
    width: 1401px;
    height: 80px;
}
.contacts {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 57px;
   
    
}
.my-photo {
    width: 370px;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
body {

   background: #F5F7FA;
   padding: 40px;
   font-family: 'Montserrat', sans-serif;
}
.soft-lol{
    font-size:22px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.soft-span {
    color: #fff;
}
.tech-lol{
    font-size:22px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.tech-li {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    
    margin-left: 13px;
    color: #FF6B08;

}
.tech-span {
    color: #fff;
}
.soft {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 57px;
    
}
.tech {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 57px;
}
.contacts {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 57px;
}
.contacts-lol {
    font-size:22px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 20px;
    
    
}
.color-c {
    font-size:14px;
    font-weight: 400;
    line-height: 24px;
    color: #7D8188;
    
}
.color-ce {
    font-size:14px;
    font-weight: 400;
    line-height: 24px;
    color: #7D8188;
    text-decoration: none;
}
.color-e {
    font-size:14px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-right: 10px;
    margin-bottom: 20px;
    
}
.name {
    font-size:55px;
    
    padding-left: 60px;
    padding-top: 25px;
    
   
}
.mare {
    background: #FFFFFF;
    display: flex;
    
}
.text-1 {
    font-size:17px;
    
    padding-top: 24px;
    padding-left: 60px;
    padding-right: 370px;
}
.content {
    padding-left: 60px;
    padding-top: 110px;
    padding-bottom: 110px;
    padding-right: 90px;
    float: left;
    
}
.project {
    font-size:22px;
    padding-top: 65px;
    padding-left: 60px;
    
}
.front {
    font-size:25px;
    
    padding-left: 60px;
    padding-top: 110px;
    
}
.my-photo-1 {
    
    padding-left: 60px;
}
.my-photo-2 {
color: #fff;
}
.ul-2 {
    padding-top: 14px;
    padding-left: 110px;
    padding-right: 235px;
    font-size:20px;
}

   
#footer div {
    padding: 10px; /* Поля вокруг текста */
    background: rgb(156, 9, 9); /* Цвет фона */
    height:100px;
}
.button {
    background-color: rgb(156, 9, 9);
    border: none;
    color: white;
    padding: 20px 44px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    }
 #footer {
       
        left: 0; bottom: 0; /* Левый нижний угол */
        color: #fff; /* Цвет текста */
        width: 100%; /* Ширина слоя */
}
#footer div {
        padding: 10px; /* Поля вокруг текста */
        background: rgb(156, 9, 9); /* Цвет фона */
}